<% require 'date' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<h2> <%= @user.username %>'s events </h2>
<ul id="events">
  <% @user.created_events.each do |event| %>
    <li>
      <%= link_to event.description, event_path(event.id) %>
    </li>
  <% end %>
</ul>

<h2> Upcoming Events </h2>
<ul id="events">
  <% @user.attended_events.each do |event| %>
    <% if event.event_date >= Date.current %>
      <li>
        <%= link_to event.description, event_path(event.id) %>
      </li>
    <% end %>

  <% end %>
</ul>
<h2> Past Events </h2>
<ul id="events">
  <% @user.attended_events.each do |event| %>
    <% if event.event_date < Date.current %>
      <li>
        <%= link_to event.description, event_path(event.id) %>
      </li>
    <% end %>

  <% end %>
</ul>

<%= link_to 'Back', root_path %>
<%= link_to 'Create Event', new_event_path %>